body {
  padding: 20px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: rgb(40, 40, 40);
  color: whitesmoke;
}

a {
  color: #93b096;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style-type: none;
}

.list-div {
  max-width: fit-content;
  min-width: fit-content;
}

.sidebar > li {
  margin-bottom: 10px;
}

hr {
  border-color: black;
}

.container {
  display: flex;
}

.content {
  padding-left: 80px;
}

.category-list a {
  color: rgb(195, 195, 195);
  font-size: 20px;
}

.category-list p {
  font-size: 16px;
  color: #647866;
}

.category-list {
  padding: 0;
  margin-top: 40px;
}

.part-info {
  display: flex;
  font-size: 16px;
  background-color: rgb(32, 32, 32);
}

.part-data {
  border: 1px solid rgb(110, 110, 110);
  margin: 0;
}

.part-data:hover {
  background-color: black;
}

.part-info .part-data:nth-child(1) {
  width: 400px;
  padding-left: 10px;
}
.part-info .part-data:nth-child(2) {
  width: 115px;
  padding: 0px 10px;
}

.part-info .part-data:nth-child(3) {
  width: 60px;
  padding: 0px 10px;
}

.part-info .part-data:nth-child(4) {
  width: 100px;
  color: rgb(0, 0, 255);
  font-weight: bold;
  padding: 0px 10px;
}

.part-info .part-data:nth-child(2),
.part-info .part-data:nth-child(3),
.part-info .part-data:nth-child(4),
.part-info .part-data:nth-child(5),
.part-info .part-data:nth-child(6) {
  display: flex;
  justify-content: center;
}

.part-info .part-data:nth-child(5) {
  width: 140px;
  align-items: center;
}

.part-info .part-data:nth-child(6) {
  width: 100px;
  align-items: center;
}

#header {
  color: #93b096;
  font-weight: normal;
  border-bottom: 3px solid rgb(110, 110, 110);
}

#update-delete {
  display: flex;
  flex-direction: column;
}
