body {
  padding: 20px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: rgb(40, 40, 40);
  color: whitesmoke;
}

a {
  color: #93b096;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style-type: none;
}

.list-div {
  max-width: fit-content;
  min-width: fit-content;
}

.sidebar > li {
  margin-bottom: 10px;
}

hr {
  border-color: black;
}

.container {
  display: flex;
}

.content {
  padding-left: 80px;
}

.category-list a {
  color: rgb(195, 195, 195);
  font-size: 20px;
}

.category-list p {
  font-size: 16px;
  color: #647866;
}

.category-list {
  padding: 0;
  margin-top: 40px;
}
